@font-face {
    font-family: 'Helvetica';
    src: url(HelveticaforTarget-Bold.ttf);
}

@font-face {
    font-family: 'ballega';
    src: url(Cocogoose-Pro-Semilight-trial.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

section {
    padding: 2rem 9%;
}

nav {
    width: 100%;
    height: 8vh;
    background: white;
    position: fixed;
    z-index: 10;
}

.logo {
    display: flex;
    height: 75px;
    justify-content: center;
}

.slide{
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;
    transform: translateX(-300px);
    top: 74px;
    z-index: 11;
}

.slide ul li {
    list-style: none;
}

.slide ul li a{
    color: rgb(4, 44, 19);
    font-weight: 300;
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: ballega;
    transition: 0.2s ease-out;
}

.slide ul li a:hover{
    transform: translateY(-2.5px);
}

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    z-index: 11;
}

.toggle .commom {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(4, 44, 19);
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .h1 {
    color: rgb(4, 44, 19);
    font-family: Helvetica;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    transform: translate(30px, -5px);
}


input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line{
    opacity: 0%;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url(container.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botao {
    display: flex;
    margin-top: auto;
    justify-content: center;
    border: 1px solid rgb(24, 153, 24);;
    border-radius: 5rem;
    background-color: rgb(24, 153, 24);
    color: white;
    padding: .6rem 1.5rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-family: ballega;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.25s;
}

.botao:hover{
    background-color: white;
    color: rgb(24, 153, 24);
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.card {
    width: 100px;
    height: 360px;
    padding: 0rem 0.1rem;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    top: 50px;
    transition: 0.5s;

}

.card:hover {
    transform: translateY(-10px);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: center;
    display: block;
    width: 400%;
    height: 100%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 400%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: center;
}

.card .info{
    position: relative;
    z-index: 3;
    color: rgb(250, 250, 250);
    opacity: 0;
    transition: 0.5s all;
    font-family: Helvetica;
    left: -130px;
    top: -7.5px;
}

.card:hover .info {
    opacity: 1;
}

.card .info h1 {
    margin: 0;
    font-family: ballega;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    font-family: ballega;
}


.card .info2{
    position: relative;
    z-index: 3;
    color: rgb(250, 250, 250);
    opacity: 0;
    transition: 0.5s all;
    font-family: Helvetica;
    left: -115px;
    top: -7.5px;
}

.card:hover .info2 {
    opacity: 1;
}

.card .info2 h1 {
    margin: 0;
    font-family: ballega;
}

.card .info2 p{
    letter-spacing: 1px;
    font-size: 15px;
    font-family: ballega;
}


.card .info3{
    position: relative;
    z-index: 3;
    color: rgb(250, 250, 250);
    opacity: 0;
    transition: 0.5s all;
    font-family: Helvetica;
    left: -80px;
    top: -7.5px;
}

.card:hover .info3 {
    opacity: 1;
}

.card .info3 h1 {
    margin: 0;
    font-family: ballega;
}

.card .info3 p{
    letter-spacing: 1px;
    font-size: 15px;
    font-family: ballega;
}

.btn {
    display: flex;
    margin-top: auto;
    justify-content: center;
    border: 1px solid rgb(24, 153, 24);;
    border-radius: 5rem;
    background-color: rgb(24, 153, 24);
    color: white;
    padding: .6rem 1.5rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-family: ballega;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.25s;
}

.btn:hover{
    background-color: white;
    color: rgb(24, 153, 24);
}

.home2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url(container2.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
}